<% content_for :header do %>
  <%=h @quirk.name %>
<% end %>
<% add_action 'Add', new_quirk_path if can?(:manage, Quirk) %>
<% add_action 'Edit', edit_quirk_path(@quirk) if can?(:manage, @quirk)%>

<section>
<h3>Special quirk</h3>

<p>
Name: <%=h @quirk.name %>
<br>
Description: <%=h @quirk.description %>
</p>
</section>
<section id="quirkserverlist">
<h3>Applies to</h3>
<table class="index sortable">
  <thead>
    <tr><td>Server</td><td>Comment</td></tr>
  </thead>
  <tbody>
  <% @quirk.servers.each do | server | %>
    <tr>
      <td><%=h link_to server, server %></td>
      <td><%=h server.quirk_details.select{|qd| qd.quirk_id == @quirk.id}.first.comment %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>
