<% content_for :header do %>
  Edit <%= @server %>
<% end %>
<section>
<h3>Edit server <%= @server %></h3>
<% add_action 'Show', @server %>
<% add_action 'Add', new_server_path %>
<%= render :partial => 'form' %>
</section>

<section>
  <h3>Local settings</h3>
These are the local settings of the <b><%=h @server.hostname %></b> server,
that do not applicable to other servers. Setting that are shared between
servers are applied through profiles.
  <% @profile = @server.exclusive_profile %>
  <%= render :partial => 'profiles/excludes', :locals => {:read_only => false} %>
  <%= render :partial => 'profiles/includes', :locals => {:read_only => false} %>
  <%= render :partial => 'profiles/splits', :locals => {:read_only => false} %>
</section>
